<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SempreAki</title>
</head>
<body>
    <header>
        <nav>
            <a href="/inicio">Inicio</a>
            <a href="/produto">Produto</a>
            <a href="/fornecedor">Fornecedor</a>
            <a href="/relatorio">Relatorio</a>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>