<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>Login SempreAki</title>
    </head>
    <body>
        <div class="container-login">
            <div class="login-holder"><img src="logo.svg" alt="SempreAki logo"></div>
            <form class="inputs" action="/" method="POST">

                <div class="item">
                    <h3>Login</h3>
                    <input type="text" name="username" placeholder="Digite seu usuário">
                </div>

                <div class="item">
                    <h3>Senha</h3>
                    <input type="password" name="password" placeholder="Digite sua senha">
                </div>
                <button>Entrar</button>
            </form>
        </div>
    </body>
</html>