{% extends 'layout.njk' %}
{% block content %}
    <div class="container">
        <h3>Adicionar um novo produto</h3>
        <table>
            <tr>
                <th>CODIGO DE BARRAS</th>
                <th>PRODUTO</th>
                <th>QUANTIDADE</th>
                <th>CUSTO</th>
                <th>FORNECEDORES</th>
            </tr>
            <tr>
                <td>
                    <form class="form-id"action="#" method="post">
                        <input type="text" name="id" class="input-id" value="{{produto.ean}}">
                    </form>
                </td>   
                <td>
                    <input type="text" name="prodDesc" disabled value="{{produto.desc}}">
                </td>
                <td>
                    <input type="text" name="qnt">
                </td>
                <td>
                    <input type="text" name="custo" disabled value="R${{produto.custo}}">
                </td>
                <td>
                    <select name="provider" >
                        {% for provider in produto.providers %}
                            <option value="{{prodiver.id}}">{{provider.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="last-items">
        <h1>5 Ultimos itens adicionados</h1>
        <table>
            <tr>
                <th>PRODUTO</th>
                <th>QUANTIDADE</th>
                <th>FORNECEDORES</th>
            </tr>
            <tr>
                <td>
                    
                    <input type="text" name="prodDesc" disabled value="">
                </td>
                <td>
                    <input type="text" name="prodQnt" disabled value="">
                </td>
                <td>
                    <input type="text" name="prodFornecedor" disabled value="">
                </td>
            </tr>
        </table>
    </div>
    <script src="/script.js"></script>
{% endblock content %}
